In [53]:
import xml.dom.minidom
import sqlite3 as lite

In [54]:
DomTree = xml.dom.minidom.parse("f24-98-2012-429860-eventdetails.xml")
DomData = DomTree.documentElement

In [55]:
Game = DomData.getElementsByTagName('Game')

In [56]:
game_id = Game[0].getAttribute('id')
timestamp = DomData.getAttribute('timestamp')

In [57]:
con = lite.connect('soccer.db')

with con:
    cur = con.cursor()
    cur.execute("CREATE TABLE Data_Information(id INT PRIMARY KEY UNIQUE, timestamp TEXT)")
    cur.execute("INSERT INTO Data_Information VALUES(?,?);", (game_id, timestamp))
    con.commit()

In [58]:
season_id = Game[0].getAttribute('season_id')
season_name = Game[0].getAttribute('season_name')

In [59]:
with con:
    cur = con.cursor()
    cur.execute("CREATE TABLE Season_Information(season_ID INT PRIMARY KEY UNIQUE, season_name TEXT)")
    cur.execute("INSERT INTO Season_Information VALUES(?, ?);",(season_id, season_name))
    con.commit()

In [60]:
away_team_id = Game[0].getAttribute('away_team_id')
away_team_name = Game[0].getAttribute('away_team_name')
home_team_id = Game[0].getAttribute('home_team_id')
home_team_name = Game[0].getAttribute('home_team_name')

In [61]:
with con:
    cur = con.cursor()
    cur.execute("CREATE TABLE Team_Information(team_id INT PRIMARY KEY UNIQUE, team_name TEXT)")
    cur.execute("INSERT INTO Team_Information VALUES(?, ?);",(away_team_id, away_team_name))
    cur.execute("INSERT INTO Team_Information VALUES(?, ?);",(home_team_id, home_team_name))
    con.commit()

In [62]:
game_date = Game[0].getAttribute('game_date')
game_date = game_data.split('T')[0]
period_1_start = Game[0].getAttribute('period_1_start')
period_1_start = period_1_start.split('T')[1]
period_2_start = Game[0].getAttribute('period_2_start')
period_2_start = period_2_start.split('T')[1]

In [63]:
with con:
    cur = con.cursor()
    cur.execute("CREATE TABLE Competition_Information(id INT PRIMARY KEY UNIQUE, away_team_id INT, home_team_id INT, season_id INT, game_date TEXT, period_1_start TEXT, perior_2_start TEXT)")
    cur.execute("INSERT INTO Competition_Information VALUES(?, ?, ?, ?, ?, ?, ?);",(game_id, away_team_id, home_team_id, season_id, game_data, period_1_start, period_2_start))
    con.commit()

In [64]:
Events = Game[0].getElementsByTagName('Event')

In [67]:
with con:
    cur = con.cursor("CREATE TABLE Event_Information(id INT PRIMARY KEY UNIQUE, game_id INT, event_id INT, type_id INT, period_id INT, min INT, sec INT, team_id INT, outcome INT, x REAL, y REAL, timestamp TEXT, last_modified TEXT)")
    cur = con.cursor("CREATE TABLE Q_Information(Q_id INT PRIMARY KEY UNIQUE, event_id INT, qualified_id INT, value TEXT)")
    cur.execute()

TypeError: 'str' object is not callable